<div id="xinxi">
    <h3>会员列表</h3>
    <table>
        <thead>
            <tr>
                <td>姓名</td>
                <td>年龄</td>
                <td>积分</td>
            </tr>
        </thead>
        <tbody>
            <h3>VIP</h3>
                <ng-container *ngFor = "let use of stulist">
                        <tr *ngIf="use.score >= 80">
                            <td>{{use.name}}</td>
                            <td>{{use.age}}</td>
                            <td>{{use.score}}</td>
                        </tr>
                </ng-container>
        </tbody>
        
        <tfoot>
                <h3>普通成员</h3>
                <ng-container *ngFor = "let use of stulist">
                    <tr *ngIf="use.score<80" >
                        <td>{{use.name}}</td>
                        <td>{{use.age}}</td>
                        <td>{{use.score}}</td>
                    </tr>
                </ng-container>
             
        </tfoot>
    </table>
</div>