<div id="zi">
    <h2 test>------------------自定义指令---------------</h2>
    <!-- --------------管道---------------  -->
    <h2>-----------------------管道------------------------</h2>
    <p>-----'| uppercase'----</p>
    <p>{{stuName | uppercase}}</p>
    <p>-----'| lowercase'----</p>
    <p>{{stuName | lowercase}}</p>
    <!-- -----------日期过滤------ -->
    <p>{{nowDate | date}}</p>
    <p>{{nowDate | date:'MM-dd'}}</p>
    <!-- ---------数字处理管道----- -->
    <p>{{price}}</p>
    <p>{{price | number}}</p>
    <p>{{price | number:'1.2-3'}}</p>
    <!-- ------------截取--------- -->
    <p>{{stuName | slice:0:5}}</p>
    <!-- ----------多重过滤--------- -->
    <p>{{stuName | uppercase | slice:5}}</p>
    <h2>--------自定义管道--------</h2>
    <p>{{stuName | myPipe:1}}</p>
</div>